@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ing. José Díaz Velazco<br />
    
    <abbr title="Phone">P:</abbr>
    33 1193 7846
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:diaz_velazco@yahoo.com">diaz_velazco@yahoo.com</a><br />

</address>