@{
    ViewBag.Title = "JDV";
}

<div class="jumbotron">
    <h1>App Administradora de usuarios</h1>
    <p class="lead">Para usar el sistema, por favor primero regístrese y a continuación podrá dar de alta el resto de los catálogos</p>

</div>

